In [3]:
# List any five functions of the pandas library with execution
# 1 Series

import pandas as pd
name = pd.Series(['John', 'Jane', 'Bob', 'Alice'])
age = pd.Series([25, 30, 35, 40])
city = pd.Series(['New York', 'London', 'Paris', 'Tokyo'])

data = {'Name' : name, 'Age': age, 'City': city}

#2 DataFrame
df = pd.DataFrame(data)
print(df)

#3 info

df.info()

#4 head

df.head()

#5. describe

df.describe()

    Name  Age      City
0   John   25  New York
1   Jane   30    London
2    Bob   35     Paris
3  Alice   40     Tokyo
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
 2   City    4 non-null      object
dtypes: int64(1), object(2)
memory usage: 224.0+ bytes

             Age
count   4.000000
mean   32.500000
std     6.454972
min    25.000000
25%    28.750000
50%    32.500000
75%    36.250000
max    40.000000

In [6]:
'''Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.'''

def reindex_df(df):
    new_index = pd.RangeIndex(start=1, stop=len(df)*2, step=2)
    return df.set_index(new_index)

name = pd.Series(['John', 'Jane', 'Bob', 'Alice'])
age = pd.Series([25, 30, 35, 40])
city = pd.Series(['New York', 'London', 'Paris', 'Tokyo'])

df = pd.DataFrame({'Name' : name, 'Age': age, 'City': city})
reindexed_df = reindex_df(df)
print(reindexed_df)

    Name  Age      City
1   John   25  New York
3   Jane   30    London
5    Bob   35     Paris
7  Alice   40     Tokyo

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [10]:
df = pd.DataFrame({'A':[10,20,30,40,50]})
def sum(df):
    value_sum = df.A.head(3).sum()
    return value_sum
sum(df)

60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column

In [14]:
def count(df):
    df['word_count'] = df.Text.str.split().str.len()
    return df
df = pd.DataFrame({"Text":['Hello bye','How are you','This is a sample text.', 'Another example sentence.', 'A short text.']})
updated = count(df)
print(updated)

                        Text  word_count
0                  Hello bye           2
1                How are you           3
2     This is a sample text.           5
3  Another example sentence.           3
4              A short text.           3

DataFrame.size and DataFrame.shape are attributes of a pandas DataFrame in Python, and they provide different information about the DataFrame.

DataFrame.size:

Definition: Returns the number of elements in the DataFrame.
Calculation: It is calculated as the total number of rows multiplied by the total number of columns.
Usage: It gives you a single integer value.
Example: If a DataFrame has 5 rows and 3 columns, DataFrame.size would be 
5Ã—3=15
python

import pandas as pd
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
})
print(df.size)  # Output: 6 (since 3 rows * 2 columns = 6)
DataFrame.shape:

Definition: Returns a tuple representing the dimensionality of the DataFrame.
Output: The tuple is in the form (number of rows, number of columns).
Usage: It gives you the structure of the DataFrame.
Example: If a DataFrame has 5 rows and 3 columns, DataFrame.shape would be (5, 3).
python

import pandas as pd
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
})
print(df.shape)  # Output: (3, 2)
Summary:
DataFrame.size: Provides the total number of elements (rows * columns) as an integer.
DataFrame.shape: Provides the shape of the DataFrame as a tuple (number of rows, number of columns).

Q6. Which function of pandas do we use to read an excel file?

To read an Excel file into a pandas DataFrame, you use the pandas.read_excel() function. This function allows you to read data from an Excel file, with support for both .xls and .xlsx formats.

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [5]:
'''email = 'john.doe@example.com'
word = email.split('@')
print(word[0])
'''
import pandas as pd

def extract_usernames(df):
    # Create the 'Username' column by applying a lambda function to the 'Email' column
    df['Username'] = df['Email'].apply(lambda x: x.split('@')[0])
    return df

# Example usage
df = pd.DataFrame({
    'Email': ['john.doe@example.com', 'jane.smith@domain.org', 'user123@test.net']
})

# Extract usernames and store them in the 'Username' column
df = extract_usernames(df)

# Display the DataFrame
print(df)

                   Email    Username
0   john.doe@example.com    john.doe
1  jane.smith@domain.org  jane.smith
2       user123@test.net     user123

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.

For example, if df contains the following values:

A B C

0 3 5 1

1 8 2 7

2 6 9 4

3 2 3 5

4 9 1 2

In [16]:
df = pd.DataFrame({'A':[3,8,6,2,9],'B':[5,2,9,3,1],'C':[1,7,4,5,2]},index = [0,1,2,3,4])

def fun(df):
    filtered_df = df.query('A > 5 and B < 10')
    return filtered_df

# Select rows based on the conditions
selected_df = fun(df)

# Display the resulting DataFrame
print(selected_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

#Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column

In [22]:
df = pd.DataFrame({'Values':[10,20,30,40,50]})

df.mean()

df.median()

df.std()

df.var()

Values    250.0
dtype: float64

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [23]:
import pandas as pd

def calculate_moving_average(df):
    # Sort the DataFrame by date if it's not already sorted
    df = df.sort_values(by='Date')

    # Calculate the moving average using a window of size 7
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    
    return df

# Example usage
data = {
    'Date': pd.date_range(start='2024-01-01', periods=10),
    'Sales': [100, 150, 200, 180, 220, 250, 230, 280, 300, 320]
}

df = pd.DataFrame(data)

# Calculate the moving average
df = calculate_moving_average(df)

# Display the resulting DataFrame
print(df)

        Date  Sales  MovingAverage
0 2024-01-01    100     100.000000
1 2024-01-02    150     125.000000
2 2024-01-03    200     150.000000
3 2024-01-04    180     157.500000
4 2024-01-05    220     170.000000
5 2024-01-06    250     183.333333
6 2024-01-07    230     190.000000
7 2024-01-08    280     215.714286
8 2024-01-09    300     237.142857
9 2024-01-10    320     254.285714

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.

For example, if df contains the following values:

Date

0 2023-01-01

1 2023-01-02

2 2023-01-03

3 2023-01-04

4 2023-01-05

Your function should create the following DataFrame:


Date Weekday

0 2023-01-01 Sunday

1 2023-01-02 Monday

2 2023-01-03 Tuesday

3 2023-01-04 Wednesday

4 2023-01-05 Thursday

The function should return the modified DataFrame.

In [30]:
def week_col(df):
    df['Date'] = pd.to_datetime(df['Date'])
    df['weekday'] = df['Date'].dt.strftime('%A')
    return df
# Example usage
data = {
    'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']
}

df = pd.DataFrame(data)

# Add the 'Weekday' column
df = week_col(df)

# Display the resulting DataFrame
print(df)

        Date    weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [31]:
import pandas as pd

def select_date_range(df, start_date, end_date):
    # Convert the 'Date' column to datetime if it's not already in datetime format
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Filter rows where the date is between start_date and end_date
    filtered_df = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]
    
    return filtered_df

# Example usage
data = {
    'Date': ['2022-12-31', '2023-01-01', '2023-01-15', '2023-01-31', '2023-02-01'],
    'Value': [10, 20, 30, 40, 50]
}

df = pd.DataFrame(data)

# Select rows where the date is between '2023-01-01' and '2023-01-31'
filtered_df = select_date_range(df, '2023-01-01', '2023-01-31')

# Display the resulting DataFrame
print(filtered_df)

        Date  Value
1 2023-01-01     20
2 2023-01-15     30
3 2023-01-31     40

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

the first and foremost necessary library that needs to be imported is pandas. This can be done with the following import statement:

import pandas as pd