In [1]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

import pandas as pd
ds = pd.Series([4, 8, 15, 16, 23, 42])
print(ds)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
'''2 Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.'''

list1 = [1, 4, 5, 'hello', True, 4, 6, 7, 3, 10]
ds = pd.Series(list1)
print(ds)

0        1
1        4
2        5
3    hello
4     True
5        4
6        6
7        7
8        3
9       10
dtype: object

In [3]:
#Q3. Create a Pandas DataFrame that contains the following data

x1 = ['Alice', 'Bob', 'Claire']
x2 = [25, 30, 27]
x3 = ['Female', 'Male', 'Female']
df = pd.DataFrame(columns = ['Name', 'Age', 'Gender'])

df['Name'] = x1
df['Age'] = x2
df['Gender'] = x3

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female


Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example

A DataFrame in Pandas is a two-dimensional labeled data structure, similar to a spreadsheet or a SQL table. It is the primary data structure in Pandas and is used for storing and manipulating tabular data. A DataFrame consists of rows and columns, where each column can have a different data type.

On the other hand, a Pandas Series is a one-dimensional labeled data structure, similar to a column in a DataFrame. A Series can be thought of as a single column of a DataFrame, with a unique index associated with each element.

Here's an example to illustrate the difference between a DataFrame and a Series:

```python
import pandas as pd

# Creating a DataFrame
data = {
    'Name': ['John', 'Jane', 'Bob', 'Alice'],
    'Age': [25, 30, 35, 40],[8]
    'City': ['New York', 'London', 'Paris', 'Tokyo']
}
df = pd.DataFrame(data)
print(df)
"""
   Name  Age       City
0  John   25  New York
1  Jane   30    London
2   Bob   35     Paris
3 Alice   40    Tokyo
"""

# Creating a Series
age_series = df['Age']
print(age_series)
"""
0    25
1    30
2    35
3    40
Name: Age, dtype: int64
"""
```

In this example, we first create a DataFrame `df` with three columns: 'Name', 'Age', and 'City'. Each column has a different data type, and the DataFrame has four rows.

We then create a Series `age_series` by selecting the 'Age' column from the DataFrame. The Series has a single dimension, with the age values and their corresponding indices.

The key differences between a DataFrame and a Series are:

1. **Dimensionality**: A DataFrame is a two-dimensional data structure, while a Series is one-dimensional.
2. **Structure**: A DataFrame has rows and columns, while a Series has only a single column.
3. **Heterogeneity**: A DataFrame can have columns with different data types, while a Series can only have a single data type.
4. **Indexing**: Both DataFrames and Series have an index, but a DataFrame has a row index and a column index, while a Series has only a row index.

5.What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions

Pandas provides a wide range of functions and methods that can be used to manipulate data in a DataFrame. Here are some common functions you can use:

1. **`head()`** and **`tail()`**: These functions allow you to view the first or last few rows of a DataFrame, respectively. This is useful for quickly inspecting the data.

2. **`describe()`**: This function generates descriptive statistics for the numeric columns in a DataFrame, such as the count, mean, standard deviation, and quartiles.

3. **`dropna()`**: This function removes rows or columns with missing values (NaN) from the DataFrame.

4. **`fillna()`**: This function replaces missing values in the DataFrame with a specified value or a computed value (e.g., the mean or median).

5. **`groupby()`**: This function allows you to group the DataFrame by one or more columns and perform aggregations, such as sum, mean, or count, on the grouped data.

6. **`sort_values()`**: This function sorts the DataFrame by one or more columns in ascending or descending order.

7. **`apply()`**: This function applies a function (either a built-in function or a custom function) to each element or group of elements in the DataFrame.

8. **`merge()`** and **`concat()`**: These functions allow you to combine multiple DataFrames based on common columns or indices.

Here's an example of using the `groupby()` function to calculate the average age for each city in the DataFrame we created earlier:

```python
import pandas as pd

# Creating a DataFrame
data = {
    'Name': ['John', 'Jane', 'Bob', 'Alice'],
    'Age': [25, 30, 35, 40],
    'City': ['New York', 'London', 'Paris', 'Tokyo']
}
df = pd.DataFrame(data)

# Grouping the DataFrame by 'City' and calculating the average age
avg_age_by_city = df.groupby('City')['Age'].mean()
print(avg_age_by_city)
"""
City
London     30.0
New York   25.0
Paris      35.0
Tokyo      40.0
Name: Age, dtype: float64
"""
```

In this example, we use the `groupby()` function to group the DataFrame by the 'City' column, and then we calculate the mean of the 'Age' column for each group using the `mean()` function. This allows us to quickly see the average age for each city in the dataset.

The `groupby()` function is a powerful tool for aggregating and summarizing data in a DataFrame. It can be used in a wide range of data analysis and reporting tasks, such as calculating sales figures by region, finding the top-selling products by category, or identifying the most active users in a social network

6. Which of the following is mutable in nature Series, DataFrame, Panel


Both the Series and the DataFrame are mutable, meaning you can modify their contents after they have been created. However, the Panel data structure is considered immutable in nature.

The key difference between a Series and a DataFrame is that a Series is a 1-dimensional labeled data structure, while a DataFrame is a 2-dimensional labeled data structure. Both of these data structures can be modified, such as adding or removing rows or columns, changing the values of existing elements, or even changing the data types of the columns.

In [8]:
#7. Create a DataFrame using multiple Series. Explain with an example.

name = pd.Series(['John', 'Jane', 'Bob', 'Alice'])
age = pd.Series([25, 30, 35, 40])
city = pd.Series(['New York', 'London', 'Paris', 'Tokyo'])

data = {'Name' : name, 'Age': age, 'City': city}

df = pd.DataFrame(data)
print(df)

    Name  Age      City
0   John   25  New York
1   Jane   30    London
2    Bob   35     Paris
3  Alice   40     Tokyo