Consider following code to answer further questions:

import pandas as pd

course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]

duration = [2,3,6,4]

df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})

In [7]:
#Q1. Write a code to print the data present in the second row of the dataframe, df.
import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']

duration = [2,3,6,4]

df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
print(df.iloc[1,])

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

Key Differences:
Indexing Method:

loc uses labels (can be strings, integers, or boolean arrays).
iloc uses integer positions.
Endpoint Inclusion:

loc includes the endpoint when slicing.
iloc excludes the endpoint when slicing.
Type of Input:

loc can take label-based inputs and boolean arrays.
iloc strictly takes integer-based inputs.

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].
Did you observe any difference in both the outputs? If so then explain it.

Consider the below code to answer further questions:
import pandas as pd

import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']

indices = [1,2,3,4,5,6]

#Creating a dataframe:

df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [9]:

import pandas as pd

import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']

indices = [1,2,3,4,5,6]

#Creating a dataframe:

df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
reindex = [3, 0, 1, 2]
new_df = df1.reindex(reindex)
loc_out = new_df.loc[2]
iloc_out = new_df.iloc[2]

In [10]:
loc_out

column_1    0.054378
column_2    0.138075
column_3    0.718353
column_4    0.579766
column_5    0.469628
column_6    0.156217
Name: 2, dtype: float64

In [12]:
new_df

   column_1  column_2  column_3  column_4  column_5  column_6
3  0.040850  0.714390  0.955817  0.013061  0.796992  0.392260
0       NaN       NaN       NaN       NaN       NaN       NaN
1  0.046074  0.639429  0.699390  0.601491  0.850752  0.701149
2  0.054378  0.138075  0.718353  0.579766  0.469628  0.156217

In [11]:
iloc_out

column_1    0.046074
column_2    0.639429
column_3    0.699390
column_4    0.601491
column_5    0.850752
column_6    0.701149
Name: 1, dtype: float64

Explanation:
new_df.loc[2]: This selects the row from new_df where the index label is 2.
new_df.iloc[2]: This selects the third row from new_df by its integer position, which is 2 (zero-based index).
Given the reindexing [3, 0, 1, 2], the indices of new_df are now [3, NaN, 1, 2]. Here, index 0 does not exist in the original DataFrame, resulting in a row with all NaN values for that position in new_df

Q4. Write a code to find the following statistical measurements for the above dataframe df1:

(i) mean of each and every column present in the dataframe.

(ii) standard deviation of column, ‘column_2’

In [5]:
import pandas as pd

import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']

indices = [1,2,3,4,5,6]

#Creating a dataframe:

df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
mean = df1[['column_1','column_2','column_3','column_4','column_5','column_6']].mean()
print(mean)

#standard deviation

df1.column_2.std()

column_1    0.272194
column_2    0.429794
column_3    0.306947
column_4    0.300420
column_5    0.374510
column_6    0.401913
dtype: float64

0.20762451920743835

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.

If you are getting errors in executing it then explain why.

[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

df1.loc[2,'column_2'] = 'String variable'
df1['column_2'].mean()

'''If you attempt to calculate the mean of column 'column_2' after replacing its numerical data with a string variable, you may encounter an error. This is because pandas cannot calculate the mean of a column containing non-numeric data'''

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

In pandas, window functions are used for performing calculations on a set of data points within a specified window or range. These functions are particularly useful for tasks such as calculating moving averages, cumulative sums, or aggregating data over rolling windows.

Window functions operate by defining a window or a subset of data points over which the calculation is performed. The window can be defined based on either the index (time-based) or a specified number of preceding or following rows.

Some common types of window functions in pandas include:

rolling(): This function is used to create a rolling window object over a DataFrame or Series. It allows you to perform calculations like mean, sum, min, max, etc., over a specified window size.

expanding(): This function creates an expanding window object that grows with the size of the dataset. It calculates cumulative statistics (e.g., cumulative sum, mean) for all data points seen so far.

ewm(): The exponentially weighted moving average (EWMA) function calculates a weighted average where more recent data points are given higher weights. It's useful for smoothing out short-term fluctuations and emphasizing recent trends in time series data.

groupby().rolling(): This combines the groupby() operation with the rolling() window function, allowing you to calculate rolling statistics within each group of data.

groupby().expanding(): Similar to groupby().rolling(), this combines the groupby() operation with the expanding() window function to calculate expanding statistics within each group of data.

These window functions provide powerful capabilities for analyzing and manipulating time series and sequential data in pandas. They are widely used in financial analysis, signal processing, and various other domains where temporal patterns or trends are important.

In [15]:
'''Q7. Write a code to print only the current month and year at the time of answering this question.

[Hint: Use pandas.datetime function]'''

from datetime import datetime
date = pd.Timestamp(datetime.now())
cur_month = date.month
cur_year = date.year
print(cur_month, cur_year)

5 2024

Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [20]:
def diff(date1,date2):
    date1 = pd.Timestamp(date1)
    date2 = pd.Timestamp(date2)
    date_dif = date2 - date1
    
    days = date_dif.days
    seconds = date_dif.seconds
    hour = seconds//3600
    minutes = (seconds % 3600)//60
    
    return days,seconds,hour,minutes

date1 = input("enter date")
date2 = input("enter date")

days,hours,minutes,seconds = diff(date1,date2)
print(f"Difference: {days} days, {hours} hours, and {minutes} minutes,{seconds} seconds")

enter date 2001-05-22
enter date 2001-06-22

Difference: 31 days, 0 hours, and 0 minutes,0 seconds

In [ ]:
#Q9
import pandas as pd

def convert_to_categorical():
    # Prompt user for file path and column details
    file_path = input("Enter the file path: ")
    column_name = input("Enter the column name to convert to categorical: ")
    categories = input("Enter the category order, separated by commas: ").split(',')

    # Read the CSV file
    df = pd.read_csv(file_path)

    # Convert the specified column to categorical type with the given category order
    df[column_name] = pd.Categorical(df[column_name], categories=categories, ordered=True)

    # Sort the DataFrame by the categorical column
    df = df.sort_values(by=column_name)

    # Display the sorted DataFrame
    print(df)

convert_to_categorical()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

def visualize_sales_data():
    # Prompt user for file path
    file_path = input("Enter the file path: ")

    # Read the CSV file
    df = pd.read_csv(file_path)

    # Assume the CSV has columns 'Date', 'Product', and 'Sales'
    # Pivot the data for stacked bar chart
    pivot_df = df.pivot_table(index='Date', columns='Product', values='Sales', aggfunc='sum')

    # Plot the stacked bar chart
    pivot_df.plot(kind='bar', stacked=True)

    # Set the labels and title
    plt.xlabel('Date')
    plt.ylabel('Sales')
    plt.title('Sales of Each Product Category Over Time')

    # Display the chart
    plt.show()

visualize_sales_data()

In [ ]:
import pandas as pd

def analyze_student_data():
    # Prompt user for file path
    file_path = input("Enter the file path: ")

    # Read the CSV file
    df = pd.read_csv(file_path)

    # Calculate mean, median, and mode of the test scores
    mean_score = df['Test Score'].mean()
    median_score = df['Test Score'].median()
    mode_score = df['Test Score'].mode()[0]

    # Display the results in a table
    result = pd.DataFrame({
        'Statistic': ['Mean', 'Median', 'Mode'],
        'Value': [mean_score, median_score, mode_score]
    })

    print(result)

analyze_student_data()